<div class="mybody">
    <header>
        <div class="header-item">
            <a href="#">
                <img src="images/Four_New_Zealand_logo2.png" />
            </a>
        </div>
        <ul class="header-item">
            <li>
                <a href="">Login</a>
            </li>
            <li>
                <a href="">Logout</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <h1 class="page-title">Projects List</h1>

        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                &nbsp; > &nbsp;
                <li>
                    <a href="#">Projects</a>
                </li>
            </ul>
        </div>
        <div class="control">
            <div class="searchbox">

                <input id="refnotxt" type="text" value="" placeholder="Ref No" />
                <input id="projectnametxt" type="text" value="" placeholder="Project Name" />
                <input id="locationtxt" type="text" value="" placeholder="Project location" />
                <input id="sectortxt" type="text" value="" placeholder="Sector" />


                <select id="statusselect">
                    <option value="0" selected>Any Status</option>
                    {{#each coordinationstatus}}
                    <option value="{{id}}">{{status}}</option>
                    {{/each}}
                </select>

            </div>

            <a href="/projectsprint" id="printbtn">Print</a>
            <a href="/projectadd" id="newprojectbtn">New Project</a>

        </div>

        <div class="projectstable">
            <table>
                <thead>
                    <tr>
                        <td>Ref No</td>
                        <td>Project Name</td>
                        <td>Sector</td>
                        <td>Coordination Status</td>
                        <td>Location</td>
                        <td>Description</td>
                        <td></td>
                    </tr>
                </thead>
            </table>
            <div class="projecttablebody">
                <table>
                    <tbody id="projectstablebody">

                        {{#each allprojects}}
                        <tr data-id="{{id}}">
                            <td>
                                <a href="/projectdetails/{{id}}">{{cla_ref}}</a>
                            </td>
                            <td>{{project_name}}</td>
                            <td>{{sector}}</td>
                            <td>{{coordinationstatus}}</td>
                            <td>{{project_location}}</td>
                            <td>{{description}}</td>
                            <td>
                                <a href="/projectdetails/{{id}}">
                                    <img src="images/information-signal.png" alt="" />
                                </a>
                                <a href="/projectedit/{{id}}">
                                    <img src="images/writing.png" alt="" />
                                </a>
                                <a class="deletebtn">
                                    <img src="images/dustbin(1).png" alt="" />
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>

        <div>
            <h1>All Rights Reserved To FOUR ACMTeam</h1>
        </div>
    </footer>

</div>











<div id="myModal" class="modal">

    <div class="modal-content">
        <div class="modal-header">

            <h2>Deletion Confirmation</h2>

            <div>
                <span class="close">&times;</span>
            </div>

        </div>
        <div class="modal-body">

            <p>
                <strong>This Project Will Be Deleted Permenantly.</strong>
            </p>
            <p> Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer">
            <a href="" class="modalbtn confirmdelete">OK</a>
            <a class="modalbtn canceldelete">Cancel</a>
        </div>
    </div>

</div>


<script>

    document.addEventListener("click", handleClick, false);
    function handleClick(event) {
        event = event || window.event;
        event.target = event.target || event.srcElement;
        var element = event.target;
        // Climb up the document tree from the target of the event
        while (element) {
            if (element.nodeName === "A" && /deletebtn/.test(element.className)) {
                 modalconfirmdelete.setAttribute('href', `/deleteproject/${element.parentElement.parentElement.dataset.id}`);
                 modal.style.display = "block";
                break;
            }
            element = element.parentNode;
        }
    }

</script>